body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #aa40e7;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.bio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.owner-info {
    text-align: center;
}

.owner-info img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

footer {
    background-color: #aa40e7;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
